body {
  background-color: #191919;
  /* disable text selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  body ::-moz-selection {
    background-color: #191919;
    color: #f5ea14; }
  body ::selection {
    background-color: #191919;
    color: #f5ea14; }
  body .logo {
    height: 92px;
    width: 252px;
    position: fixed;
    top: 10px;
    z-index: 0; }
  body #logo-top {
    z-index: 2; }
  body #arrow {
    height: 81px;
    position: fixed;
    top: 43%;
    opacity: 0;
    z-index: 2; }
  body #navigation {
    list-style: none;
    color: #e6e6e6;
    margin-left: 110px;
    margin-top: 200px; }
    body #navigation a {
      text-decoration: none;
      color: #e6e6e6; }
    body #navigation a:active {
      color: #0a0a0a; }
    body #navigation .nav-item {
      font-family: 'Cubano-Regular';
      font-size: 100px;
      margin-bottom: 40px; }
  body #bottom-canvas {
    height: 100%;
    width: 100%;
    float: right;
    position: fixed;
    top: 0;
    right: 0;
    z-index: -1; }
    body #bottom-canvas canvas {
      cursor: default;
      background-color: #191919; }
  body #top-canvas {
    height: 100%;
    width: 100%;
    float: right;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    pointer-events: none;
    opacity: 0.8; }
    body #top-canvas canvas {
      cursor: default; }
  body #about {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    right: -100%;
    color: white;
    z-index: 1;
    background-color: rgba(25, 25, 25, 0.975);
    overflow: scroll; }
  body .heading {
    margin-top: 200px;
    margin-left: 200px;
    font-family: sans-serif;
    font-size: 40px;
    color: #29a9e1;
    border-bottom: 1px #f5ea14 dashed;
    padding-bottom: 5px; }
  body .about-text {
    margin-top: 100px;
    margin-left: 600px;
    margin-right: 100px;
    font-family: monospace;
    font-size: 20px; }
