
@font-face {
  font-family: 'Interstate-Bold';
  src: url('Interstate-Bold.eot?#iefix') format('embedded-opentype'),  url('Interstate-Bold.woff') format('woff'), url('Interstate-Bold.ttf')  format('truetype'), url('Interstate-Bold.svg#Interstate-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
