
@font-face {
  font-family: 'Cubano-Regular';
  src: url('Cubano-Regular.eot?#iefix') format('embedded-opentype'),  url('Cubano-Regular.otf')  format('opentype'),
	     url('Cubano-Regular.woff') format('woff'), url('Cubano-Regular.ttf')  format('truetype'), url('Cubano-Regular.svg#Cubano-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
