
@font-face {
  font-family: 'OstrichSans-Medium';
  src: url('OstrichSans-Medium.eot?#iefix') format('embedded-opentype'),  url('OstrichSans-Medium.woff') format('woff'), url('OstrichSans-Medium.ttf')  format('truetype'), url('OstrichSans-Medium.svg#OstrichSans-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
